/* color variables */
:root {
    --color-bg: #f1dda5;
    --color-dark: #2c3f34;
    --color-light: #73bfa0;
    --color-extra: #977342;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Itim", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    min-height: 600px;
    overflow-x: hidden;
    margin: 0;
    font-size: 18px;
    min-width: 500px;
    background-color: var(--color-bg);
}

#content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-top: -45px;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
}

#title.show {
    transform: translateY(0);
}

#title img {
    width: 90%;
    height: auto;
}

#board {
    position: relative;
    background-color: var(--color-extra);
    border: 2px solid var(--color-dark);
    border-radius: 6px;
    padding: 0 6px;
    margin-top: -50px;
    background-color: #977342;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23826030' fill-opacity='0.1'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
}

#board h1 {
    margin: 0;
    color: var(--color-dark);
    font-size: 60px;
}

#msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: var(--color-dark);
    border-radius: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23826030' fill-opacity='0.1'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#msg div i {
    border-radius: 50%;
    border: 1px solid var(--color-dark);
    padding: 5px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

#msg div {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#msg div span {
    color: black;
    font-style: italic;
    font-size: 16px;
}

#msg.good {
    background-color: #39d039;
    opacity: 1;
}

#msg.info {
    background-color: #39d0d0;
    opacity: 1;
}

#msg.bad {
    background-color: #d03939;
    opacity: 1;
}

#msg.facepalm {
    background-color: var(--color-extra);
    opacity: 1;
}

#msg div img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 12px;
}

#options {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.5s;
}

#options.show {
    opacity: 1;
}

.opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
    margin: 0 50px;
    cursor: pointer;
}

.opt i {
    font-size: 48px;
    background-color: var(--color-bg);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opt i:hover {
    background-color: var(--color-dark);
    color: var(--color-bg);
    transform: scale(1.02);
}

.opt i:active {
    transform: scale(0.98);
}

.opt span {
    margin-top: 10px;
    font-size: 24px;
}

#bookshelf {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#bookshelf img {
    width: 100%;
    max-width: 1080px;
}

#bookshelf.show {
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    padding: 0 10px;
    color: var(--color-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-shadow: 0 0 7px var(--color-bg), 0 0 10px var(--color-bg);
    transform: translateY(100px);
    transition: transform 0.3s ease-out 0.5s;
}

footer.show {
    transform: translateY(0);
}

footer a {
    text-decoration: none;
}

footer small:first-of-type {
    text-align: left;
}

footer small:last-of-type {
    text-align: right;
}

.card-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.card {
    /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
    margin: 100px 0;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: rgba(115, 191, 160, 0.75);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#card-collection .card {
    padding: 10px 0;
    width: auto;
    min-width: 400px;
}

.card .card-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.card .card-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.card .card-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .card-body form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.card .card-body form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card .card-body form .form-group label {
    align-self: flex-start;
    margin-left: -10px;
    font-size: 20px;
}

.card .card-body form .form-group label span {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.card .card-body form .form-group label span.approved {
    opacity: 1;
}

#tagsCheckboxSpan {
    opacity: 1;
    position: absolute;
    right: 25px;
}

#tagsCheckboxSpan label {
    font-size: 16px !important;
}

#tagsCheckbox {
    accent-color: #83af9b;
    background-color: #83af9b;
}

.card .card-body form .form-group input[type="text"],
.card .card-body form .form-group select {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    box-shadow: 0 0 0px 1000px #a1dbc0 inset;
    -webkit-box-shadow: 0 0 0px 1000px #a1dbc0 inset;
    transform: skew(-10deg);
    font-family: inherit;
    font-size: 20px;
    color: var(--color-dark);
}

.card .card-body form .form-group input[type="text"]:focus,
.card .card-body form .form-group select:focus {
    outline: 1px solid var(--color-dark);
    /* background-color: rgba(255, 255, 255, 0.3); */
    box-shadow: 0 0 0px 1000px #93bba8 inset;
    -webkit-box-shadow: 0 0 0px 1000px #93bba8 inset;
}

.card .card-body form .form-group select option {
    color: var(--color-dark);
    background-color: var(--color-light);
}

.card .card-body .existing-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.card .card-body .existing-tags .existing-tag {
    border-radius: 50px;
    border: 2px dashed var(--color-dark);
    padding: 2px 6px;
    margin: 5px;
    cursor: pointer;
}

.card .card-body .existing-tags .existing-tag.selected {
    background-color: var(--color-extra);
    border: 2px solid var(--color-dark);
}

#card-collection .card .card-body {
    width: 100%;
}

.card .card-body table {
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
}

.card .card-body table thead {
    border-bottom: 1px solid var(--color-dark);
    background-color: var(--color-dark);
    color: var(--color-light);
}

.card .card-body table thead th {
    padding: 5px 10px;
}

.card .card-body table th,
.card .card-body table td {
    border: 1px solid var(--color-dark);
    padding: 5px 10px;
}

.card .card-body table tbody tr:hover {
    background-color: var(--color-bg);
}

.card .card-body table th:first-of-type,
.card .card-body table td:first-of-type {
    border-left: none;
}

.card .card-body table th:last-of-type,
.card .card-body table td:last-of-type {
    border-right: none;
}

.card .card-body table tr:last-of-type td {
    border-bottom: none;
}

.card .card-body table tbody {
    border-bottom: none;
}

.card .card-body table td i {
    cursor: pointer;
    color: #0000ee;
}

.card .card-body table tbody .existing-tags {
    padding: 0;
    justify-content: center;
}

.card .card-body table tbody .existing-tags .existing-tag {
    margin: 2px;
    cursor: auto;
}

.card hr {
    margin-top: 10px;
    border: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        var(--color-dark),
        rgba(0, 0, 0, 0)
    );
}

.card .horizontal-buttons-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card .card-button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
}

.card .card-button:hover {
    filter: brightness(110%);
}

.card .card-button:active {
    transform: scale(0.98);
}

.card .card-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.card .card-button.disabled:hover,
.card .card-button.disabled:active {
    filter: none;
    transform: none;
}

.card .horizontal-buttons-container .card-button {
    width: auto;
}

.card .card-text {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

#openOrCopy {
    border: 1px solid var(--color-dark);
    padding: 10px 0;
    background-color: var(--color-light);
    border-radius: 6px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#openOrCopy span:first-of-type {
    border-right: 1px solid var(--color-dark);
}

.card .card-text #categorieToShow {
    font-size: 24px;
    color: var(--color-dark);
    letter-spacing: 2px;
}

.card .card-text #linkToShow {
    word-break: break-all;
}

.card .card-text.no-m {
    margin: 0;
}

.card .card-text #dateToShow {
    color: var(--color-dark);
    font-size: 14px;
}

#card-no-results .card .card-title {
    text-decoration: none;
}

#card-collection.hide,
#card-random.hide,
#card-random-result.hide,
#card-no-results.hide,
#card-configure.hide,
#card-add.hide {
    display: none;
}

#add_tags.invalid,
#add_categorie.invalid,
#add_url.invalid,
#random_categorie.invalid {
    border: 1px solid rgb(125, 33, 0);
    box-shadow: 0 0 0px 1000px #eb8f8f inset;
    -webkit-box-shadow: 0 0 0px 1000px #eb8f8f inset;
}

@media (max-width: 810px) {
    #bookshelf {
        display: none;
    }

    #content {
        justify-content: flex-start;
    }

    #options {
        flex-direction: column;
    }

    .opt {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    body {
        min-width: 400px;
        overflow-x: auto;
    }
}

@media (max-height: 920px) {
    #content {
        transform: translateY(-50px);
    }

    #bookshelf {
        transform: translateY(50px);
    }
}
